[data-tag^="lichess"] {
    display: none;
}

[data-tag^="lichess-pgn"]+.rm-highlight,
[data-tag^="lichess-fen"]+.rm-highlight {
    display: none !important;
}

.chess-element-parent button {
    background-color: rgb(240, 217, 181);
    color: rgb(181, 136, 99) !important;
}

.chess-element-parent {
    min-width: 400px !important;
}